<div class="container rounded bg-white mt-5 mb-5 " >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-md-3 border-right ">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5 ">
                    
<!-- Hidden file input -->
<input type="file" id="file-input" style="display: none;" (change)="onFileSelected($event)">

<!-- Image label that shows the selected image -->
<label for="file-input" class="click">
    <img class="rounded-circle mt-5" width="150px" [src]="imageSrc">
</label>

                <span class="font-weight-bold ">Edogaru</span>
                <span class="text-black-50">edogarumail.com.my</span>
            </div>
       
            </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Modifier le Profil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nom</label><input [(ngModel)]="user.nom"  type="text" class="form-control" placeholder="Nom" value=""></div>
                    <div class="col-md-6"><label class="labels">Prenom</label><input [(ngModel)]="user.prenom" type="text" class="form-control" value="" placeholder="Prenom"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telephone</label><input type="text" class="form-control" placeholder="Telephone" value=""></div>
                    <div class="col-md-12"><label class="labels">Email</label><input [(ngModel)]="user.email" type="text" class="form-control" placeholder="Email" value=""></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="Location" value=""></div>
                    <div class="col-md-12"><label class="labels">Ville</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">État</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Code postal</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">Pays</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span> Informations supplémentaires </span></div><br>
                <div class="col-md-12"><label class="labels">Titre du Poste</label><input type="text" class="form-control" placeholder="Titre du Poste" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Durée </label><input type="text" class="form-control" placeholder="Durée" value=""></div>
            </div>
        </div>
    </div>
</div>
