 ::ng-deep .pi-star:before {
    padding-right: 25px;
    content: "\e937";
}




h2,
h5,
.h2,
.h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}

h2,
.h2 {
  font-size: 1.25rem;
}


.pi-star:before {
  padding-right: 13px;
  content: "\e937";
}

.pi-star-fill:before {
  color: #e3b253;
  content: "\e936";
}