<nav class="navbar" style="padding-left: 100px;">
  <div class="logo">
    <img />
    <ul>
      <li><a >Soon</a></li>
      <li><a >Soon</a></li>
      <li><a >Soon</a></li>
      <li><a >Soon</a></li>
     
    </ul>
    
   
  </div>
  <div class="search">
    <span class="material-symbols-outlined">  </span>
   

    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
  </p-iconField>

  
  </div>
  <nav>
    <p-badge value="2" class="badge"></p-badge>
    <p-button  icon="pi pi-bell" [rounded]="true" severity="secondary" [outlined]="true" class="bell-button"></p-button>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" (click)="menu.toggle($event)"   size="large"></p-avatar>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>

  </nav>
  
</nav>


