<nav class="navbar">
  <div class="logo" style="margin-right: 100px;">
    <img src="https://i.ibb.co/h2p6df1/172470710116744083.png" alt="toronto-logo-png-transparent-e1663874591459" border="0" style="opacity:0.6;">
  </div>

  
  <div style="display: flex; font-size: 0.95rem; color: #757575; font-weight: 500;">
    <div pRipple class="container" style="display: flex; align-items: center; gap: 0.25rem; font-weight: 500;">
      <i class="pi pi-home" style="font-size: 1rem; color: #757575; padding-top: 1px;"></i>
      <span style="font-weight: 500;">Home</span>
    </div>
    
    <div pRipple class="container" style="display: flex; align-items: center; gap: 0.25rem; font-weight: 500;">
      <i class="pi pi-user" style="font-size: 1rem; color: #757575; padding-top: 1px;"></i>
      <span style="font-weight: 500;">Customers</span>
    </div>
    
    <div pRipple class="container" style="display: flex; align-items: center; gap: 0.25rem; font-weight: 500;">
      <i class="pi pi-calendar" style="font-size: 1rem; color: #757575; padding-top: 1px;"></i>
      <span style="font-weight: 500;">Calendar</span>
    </div>
  
    <div pRipple class="container" style="display: flex; align-items: center; gap: 0.25rem; font-weight: 500;">
      <i class="pi pi-chart-bar" style="font-size: 1rem; color: #757575; padding-top: 1px;"></i>
      <span style="font-weight: 500;">Stats</span>
    </div>
  </div>
  
  

  <div class="search">
    <span class="material-symbols-outlined">  </span>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
  </p-iconField>

  
  </div>



<div style="display: flex;">


  <div pRipple class="container">
    <i pbadge="" severity="danger" class="p-element pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge">
    </i>
  </div>
  
  <div pRipple class="container" >
    <i pBadge severity="danger" class="p-element pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge">
    </i>
  </div>
  
  

  
  <div pRipple class="container" (click)="menu.toggle($event)">
    <p-avatar 
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
        styleClass="mr-2" 
        shape="circle" 
    />
  </div>

  <p-menu #menu [model]="ProfileItems" [popup]="true"></p-menu>

  
</div>

  
</nav>


